@media screen and (min-width: 721px) and (max-width: 999px) {

img {
    align-content: center;
}

.logo {
    width: 200px;
}

h1 {
    font-size: 100px;
    line-height: 0px;
}

h2 {
    font-size: 70px;
}

.banner-img {
    display: block;
}
    
}
