@media screen and (min-width: 721px) and (max-width: 999px) {

img {
    padding-left: 20px;
}

.logo {
    width: 200px;
    padding-left: 10px;
}

h1 {
    font-size: 100px;
    line-height: 0px;
}

h2 {
    font-size: 70px;
}

.banner-img {
    display: block;
    max-width: 100%;
}

hr {
    margin-top: 20px;
}
    
}
