@media only screen and (min-width: 1000px) { 

.banner-img {
    display: block;
    width: 100%;
}

nav {
    display: flex;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    background-color: #542a27;
    justify-content: center;
}

#button1 {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: -60px;
    margin-left: 10px;
    width: 171.5px;    
}

.dropdown ul {
    padding: 0px;
}

#services {
    margin-right: -35px;
}

#temples {
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #542a27;
    display: none;
    width: 100%;
    list-style: none;
}

.small-menu {
    display: none;
}

.dropdown-button {
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

.dropdown .dropdown-menu li {
    width: 100%;
}

.dropdown .dropdown-menu a {
    width: 100%;
    padding-left: 0;
    padding-right: 0px;
}


.dropdown:hover .dropdown-menu {
    display: block;
    max-width: 100%;
}

hr {
    background-color: #542a27;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 100px;
}

nav li {
    display: inline-flex;
    justify-content: space-between;
}

nav ul {
    margin-bottom: 0px;
    margin-top: 20px;
}

nav a {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    float: left;
    width: 200px;
    padding-left: 250px;
    padding-right: 50px;
    padding-top: 55px;
    padding-bottom: 20px;
}

main {
    
    margin-left: 50px;
    margin-right: 50px;
}

.intro h1 {
    text-align: center;
}

.intro {
    margin-top: -10px;
}

.intro h2 {
    text-align: center;
}

h1 {
    font-size: 100px;
    line-height: 0px;
}

h2 {
    font-size: 70px;
}

.welcome-section {
    line-height: 0px;   
}

#welcome-text {
    padding-top: 10px;
}

.new-location {
    clear: both;
}

.new-location img {
    float: left;
    width: 420px;
    margin-right: 50px;
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#temple-img {
    /* float: left; */
    width: 375px;
    height: 498px;
    margin-right: 50px;
    /*  margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px; */
}

main {
    margin-top: 80px;
}

#article2-image {
    float: right;
    width: 455px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.button-link {
    position: relative;
    top: -120px;
    left: 210px;
    margin-bottom: 0px;
}

.info-section {
    display: flex;
    clear: both;
    justify-content: space-around;
    margin-top: 150px;
}
}

