@media screen and (min-width: 721px) and (max-width: 999px) {

img {
    padding-left: 20px;
}

.logo {
    width: 200px;

}

h1 {
    font-size: 100px;
    line-height: 0px;
}

h2 {
    font-size: 70px;
}

.banner-img {
    display: block;
    max-width: 100%;
    margin-left: -20px;
    opacity: .6;
}

.welcome-section { 
    position: relative;
    margin-top: -240px;
}

.welcome-section h1 {
    line-height: 10px;
}

#temple-name {
    margin-top: 175px;
}

#temple-img {
    width: 500px;
    margin-left: 85px;
}

nav {
    clear: both;
    margin-top: 75px;
}

.hotel-room {
    padding-left: 100px;
}

div.playgallery {
    grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-left: 0px;
}

.playgallery img {
    max-width: 100%
}

#hotel-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

#intropic {
    padding-left: 50px;
}

#cake {
    padding-left: 100px;
}

#reception {
    padding-left: 100px;
}

#map {
    padding-left: 3px;
}
    
}
