@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel|Raleway');

nav ul.hide2 {
    display: none;
}

/* Header Section */
@media only screen and (max-width: 999px) {
    nav ul.hide {
        display: none;
    }

    nav ul li a {
        display: block;
        border-top: 1px solid rgba(0,0,0,0.5);
        text-decoration: none;
        color: white;
        padding: .8rem 2%;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #slogan {
        display: none;
    }

    .dropdown {
        display: none;
    }


     #temples-button {
        display: block;
        border-top: 1px solid rgba(0,0,0,0.5);
        text-decoration: none;
        color: white;
        padding: .8rem 2%;
    }

    .indented {
        padding-left: 35px;
    }

    .intro h2{
        line-height: 50px;
        text-align: center;
    }
}

#button1 {
    background-color: transparent;
    border: none;
    margin: .2rem 2%;
    font-size: 1.6rem;
    width: 50px;
}



.button2 {
    background-color: transparent;
    border: none;
    color: white;
    
}

nav ul {
    list-style-type: none;
}

nav {
    background-color: #542a27;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #d9be77;
    color: #542a27;
    font-weight: bold;
}

nav ul li.wayfinder a {
    background-color: #d9be77;
    font-weight:bold;
    color: #542a27;   
}

nav a {
    text-decoration: none;
    color: white;
}

.banner-img {
    display: none;
}

.logo {
    width: 200px;
}

#welcome-text {
    padding-left: 10px;
}

/*Font Tags*/

h1, h2, h3, h4 {
    font-family: "Lovers Quarrel", cursive;
    font-weight: lighter;
    color: #542a27;
}

h1 {
    font-size: 65px;
    line-height: 30px;
}

h2 {
    font-size: 64px;
    line-height: 30px;
}

h3 {
    font-size: 55px;
    line-height: 10px;
}

h4 {
   font-size: 48px;
   line-height: 10px;
}

p {
    font-family: "Raleway", sans-serif;
}

.intro h1 {
    text-align: center;
    line-height: 50px;
}

.info-section h2 {
    text-align: center;
    line-height: 40px;
}

main h1 {
    text-align: center;
    line-height: 50px;
}


/*body style*/

main li {
    font-family: "Raleway", sans-serif;
    padding: 3px;
}

p {
    font-size: 17px;
    text-align: justify;
}

img {
    max-width: 100%;
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    background-color: #d9be77;
    padding: 15px;
}

footer p {
    text-align: center;
}

.social-icons {
    width: 40px;    
    margin: 20px;
}

#social-box {
    display: flex;
    justify-content: center;
}

article {
    margin-top: 80px;
}

.logo {
    float: left;
    width: 75px;
    padding-left: 20px;
    padding-right: 15px;
    margin-top: -30px;
    
}


.temple-logo {
    float: left;
    width: 175px;
    padding-left: 150px;
    padding-right: 170px;
    margin-top: 30px;
    
}

/*particular item styles*/

.button-link {
    background-color: #d9be77;
    color: #542a27;
    border: 2px solid #542a27;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Raleyway", sans-serif;
    font-weight: bold;
}

.button {
    background-color: #d9be77;
    color: #542a27;
    border: 2px solid #542a27;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Raleyway", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#small-button {
    text-align: center;
    margin-top: 50px;
}

.weather {
    list-style-type: none;
    text-align: center;
    margin: 10px;
}

.contact-info li {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
    padding-right: 35px;
    margin: 5px;
}

.schedule {
    text-align: center;
    list-style-type: none;
    margin: 10px;
}

.schedule li {
    list-style-type: none;
}

.schedule ul {
    padding-left: 0px;
}

#intropic {
    width: 450px;
}

#cake {
    width: 500px;
}

#reception {
    width: 500px;
}

#hotel-contact li {
    list-style-type: none;
    margin-left: -20px;
}

#map {
    width: 600px;
}
/*forms*/

fieldset {
    border: none;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: -20px;
   margin-right: 0px;
}

label {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}

.hotel-room {
    width:500px;
}

/*gallery*/

.playgallery {
    display: grid;
    justify-content: center;
}

div.playgallery {
    grid-template-columns: repeat(1, 1fr);
}
.playgallery img {
    max-width: 100%
}

figcaption {
    font-family: "Raleway", sans-serif;
    text-align: center;
}