
@media (min-width: 780px) {
    article {
        background-color: rgb(216, 216, 216);
        padding: 15px;
        margin: 30px;
    }
    
    article p {
        text-align: left;
    }

    article h2 {
        line-height: 10px;

    }    
    th {
        font-family: "Arapey", serif;
        font-size: 25px;
        color: #014b6d;
        text-align: center;
    }

    nav button {
        display: none;
    }

    /*nav ul li {
        float: left;
    }*/

    nav {
        background-color: #006494;
        margin-top: -16px;
        text-align: center;
        font-family: calibiri, sans-serif;
    }

    nav li {
       display: inline-block;
       padding: 10px;
       margin-left: 5px;
       margin-right: 5px;
    }

    nav ul.hide {
        display: block;

    }

    nav a {
        padding: 25px;
        text-decoration: none;
        color: white;
    }

    nav li:hover {
        background-color: #014b6d;
        font-style: italic;
    }

    table {
        margin: auto;
    }
    
    td {
        font-family: calibri, sans-serif;
        font-size: 20px;
    }
    
    footer {
        clear: both;
    }

    .headings {
	    display: inline-block;
	    vertical-align: middle;
        margin: 10px;
        color: white;
        font-family: "Arapey", serif;
    }

    .headings h1 {
        font-size: 50px;
        line-height: 5px;
        color: white;
    }

    .currentweather {
        font-family: calibri, sans-serif;
        background-color:  rgba(62, 147, 208, 0.7);
        position: absolute;
        width: 300px;
        top: 420px;
        left: 35px;
        padding: 30px;
        font-size: 18px;
    }
    
    .weather-icon {
        width: 7em;
    }

    .article-image {
        float: right;
        right: 60px;
        margin: 20px;
        padding-top: 20px;
    }

    #logo {
        width: 120px;
        display: inline-block;
	    vertical-align: middle;
	    margin: 10px; 
    }

    #moto {
        font-style: italic;
        width: 320px;
        padding: 0px;
        
    } 
    
    #banner-image {
        width: 80em;
        margin: 10px;
    }
/*
    #wayfinder {
        background-color: #014b6d;
        font-style: italic;
        color: black;
    }*/
}