@import url('https://fonts.googleapis.com/css?family=Arapey|Fredericka+the+Great');

main {
    text-align: center;

}

h1 {
    font-family: "Arapey", serif;
    font-size: 48px;
    color: #006494; 
}

h2 {
    font-family: "Arapey", serif;
    font-size: 30px;
    color: #006494;
    line-height: 50px; 
}

h3 {
    font-family: "Arapey", serif;
    font-size: 20px;
    color: #006494; 
}

p {
    font-family: calibri, sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background-color:#3e93d0;
    text-align: center;
}

nav {
    background-color: #006494;
    margin-top: -16px;
    text-align: center;
    font-family: calibiri, sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li:hover {
    background-color: #014b6d;
    font-style: italic;
}

nav li {
    list-style-type: none;   
    padding: 10px; 
    margin-left: -40px;
}

footer {
    text-align: center;
    background-color: #202020;
    color: white;
    padding: 20px;
    margin-top: 15px;
}

.currentweather li {
    list-style-type: none;
    text-align: left;
}

.currentweather h2 {
    color: white;
}

.weather-icon {
    width: 7em;
}

.headings {
    color: white;
    font-family: "Arapey", serif;
}

.headings h1 {
    font-size: 2em;
    word-spacing: -5px;
    line-height: 5px;
    color: white;
}

.social-media {
    width: 40px;
}

#banner-image {
    width: 90em;
}

#logo {
    width: 120px;
   align-content: center;
	margin: 10px; 
}

#moto {
    font-style: italic;
} 

#banner-image {
    width: 100%;
}

@media (max-width: 610px) {
    .forecast {
        display: none;
    }

    .currentweather {
        font-family: calibri, sans-serif;
        background-color: rgba(62, 147, 208, 0.7);
        position: absolute;
        width: 200px;
        left: 20px;
        padding-right: 10px;
        font-size: 18px;
        color: white;
    }

    .currentweather h2 {
        font-size: 24px;
    }

    .article-image {
        width: 300px;
        margin-top: 90px;
    }
}

#wayfinder {
    background-color: #014b6d;
    font-style: italic;
    color: black;    
}



